<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>UNIVERSITAS ISLAM MADURA</h1>
    <p>Universitas Islam Madura (UIM) pamekasan adalah perguruan tinggi swasta yg beralamat di jl. pondok pesantren miftahul ulum bettet pamekasan dengan kode pos 69351,indonesia,yang berdiri pada tahun 1988. Rektor pada tahun 2010 adalah sohibuddin. rektor sejak tahun 2014 digantikan oleh oleh Ahmad, s. Ag.,M.pd.</p>
    <a href="/produk">JURUSAN S1</a>
</body>
</html>