<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>JURUSAN</h1>
    <p>1. Fakultas Agama Islam (FAI) s1</p>
    <p>2. Fakultas Teknik</p>
    <p>3. Fakultas Ekonomi</p>
    <p>4. Fakultas Pertanian</p>
    <p>5. Fakultas Pendidikan</p>
    <p>6. Fakultas Hukum</p>
    <p>7. Fakultas Matematika</p>
    <p>8. Fakultas Kesehatan</p>
    <a href="/home">UNIVERSITAS ISLAM MADURA</a>
</body>
</html>